In [5]:
import numpy as np

# 1. DataTypes & Attributes

In [8]:
# NumPy's main datatype is ndarray
a1  = np.array([1,2,3])
a1

array([1, 2, 3])

In [9]:
type(a1)

numpy.ndarray

In [21]:
a2 = np.array([
    [1,2.0,3.3],
    [4,5,6.5]
])

a3 = np.array([
    [
        [1,2,3],
        [4,5,6],
        [7,8,9]
    ],
    [
        [10,11,12],
        [13,14,15],
        [16,17,18]
    ]
])

In [22]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [23]:
a1.shape

(3,)

In [24]:
a2.shape

(2, 3)

In [25]:
a3.shape

(2, 3, 3)

In [26]:
a1.ndim

1

In [27]:
a2.ndim

2

In [28]:
a3.ndim

3

In [29]:
a1.dtype,a2.dtype,a3.dtype

(dtype('int64'), dtype('float64'), dtype('int64'))

In [30]:
a1.size,a2.size,a3.size

(3, 6, 18)

In [31]:
#crreating DataFrame from Numpy array
import pandas as pd
df  = pd.DataFrame(a2)

In [34]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [33]:
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

# 2. Creating arrays

In [37]:
sample_array = np.array([1,2,3])
sample_array

array([1, 2, 3])

In [38]:
sample_array.dtype

dtype('int64')

In [41]:
ones = np.ones((2,3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [42]:
type(ones)

numpy.ndarray

In [43]:
ones.dtype

dtype('float64')

In [46]:
zeros = np.zeros((2,3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [47]:
range_array = np.arange(0,20,2)
range_array

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [49]:
random_array = np.random.randint(0,10, size=(5,3))
random_array

array([[4, 3, 8],
       [5, 6, 4],
       [5, 8, 0],
       [3, 2, 0],
       [2, 0, 9]])

In [51]:
random_array.shape

(5, 3)

In [54]:
random_array2 = np.random.random((5,3))
random_array2

array([[0.56531047, 0.0485874 , 0.93346749],
       [0.01986009, 0.68554344, 0.99086984],
       [0.83332363, 0.57816993, 0.10901242],
       [0.03199607, 0.04790759, 0.91912525],
       [0.17649504, 0.15706027, 0.12159503]])

In [57]:
random_array3 = np.random.rand(5,4)
random_array3

array([[0.13900652, 0.56514461, 0.86583008, 0.49586539],
       [0.67770976, 0.61598077, 0.56086035, 0.14000942],
       [0.96385901, 0.83455484, 0.26581725, 0.80102001],
       [0.10185334, 0.53892697, 0.23061735, 0.11169713],
       [0.97393755, 0.24100987, 0.25865616, 0.55899011]])

In [58]:
random_array3.shape

(5, 4)

In [69]:
# Pseudo-random numbers
np.random.seed(seed=1)
random_array4 = np.random.randint(0,10,(5,3))
random_array4

array([[5, 8, 9],
       [5, 0, 0],
       [1, 7, 6],
       [9, 2, 4],
       [5, 2, 4]])

# 3. Viewing arrays and matrices

In [74]:
random_array4

array([[5, 8, 9],
       [5, 0, 0],
       [1, 7, 6],
       [9, 2, 4],
       [5, 2, 4]])

In [75]:
#view the unique values in a array
np.unique(random_array4)

array([0, 1, 2, 4, 5, 6, 7, 8, 9])

In [76]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [77]:
a3.shape

(2, 3, 3)

In [78]:
a3[:2,:2,:2]

array([[[ 1,  2],
        [ 4,  5]],

       [[10, 11],
        [13, 14]]])

In [80]:
#lets consider higher order matrix
a4 = np.random.randint(0,10,(2,3,4,5))
a4

array([[[[0, 6, 5, 1, 2],
         [1, 5, 4, 0, 7],
         [8, 9, 5, 7, 0],
         [9, 3, 9, 1, 4]],

        [[4, 6, 8, 8, 9],
         [2, 7, 5, 5, 4],
         [5, 8, 5, 8, 1],
         [1, 8, 7, 0, 3]],

        [[4, 2, 0, 3, 5],
         [1, 2, 4, 3, 0],
         [6, 0, 7, 2, 8],
         [3, 0, 8, 4, 2]]],


       [[[9, 0, 3, 8, 1],
         [4, 3, 3, 6, 7],
         [3, 5, 3, 2, 4],
         [4, 0, 3, 3, 8]],

        [[3, 5, 6, 7, 5],
         [1, 7, 0, 2, 8],
         [2, 1, 4, 0, 4],
         [1, 7, 3, 1, 6]],

        [[6, 9, 6, 9, 6],
         [0, 0, 2, 9, 6],
         [0, 6, 7, 0, 3],
         [9, 0, 3, 4, 7]]]])

In [81]:
a4.shape, a4.ndim

((2, 3, 4, 5), 4)

In [82]:
# Get the first 4 numbers of the inner most arrays
a4[:2,:3,:4,:4]

array([[[[0, 6, 5, 1],
         [1, 5, 4, 0],
         [8, 9, 5, 7],
         [9, 3, 9, 1]],

        [[4, 6, 8, 8],
         [2, 7, 5, 5],
         [5, 8, 5, 8],
         [1, 8, 7, 0]],

        [[4, 2, 0, 3],
         [1, 2, 4, 3],
         [6, 0, 7, 2],
         [3, 0, 8, 4]]],


       [[[9, 0, 3, 8],
         [4, 3, 3, 6],
         [3, 5, 3, 2],
         [4, 0, 3, 3]],

        [[3, 5, 6, 7],
         [1, 7, 0, 2],
         [2, 1, 4, 0],
         [1, 7, 3, 1]],

        [[6, 9, 6, 9],
         [0, 0, 2, 9],
         [0, 6, 7, 0],
         [9, 0, 3, 4]]]])

# 4. Manipulating & comparing arrays

### Arithmetic

In [83]:
a1

array([1, 2, 3])

In [85]:
ones = np.ones(3)
ones

array([1., 1., 1.])

In [87]:
a1 + ones , np.add(a1,ones)

(array([2., 3., 4.]), array([2., 3., 4.]))

In [88]:
a1, a2

(array([1, 2, 3]),
 array([[1. , 2. , 3.3],
        [4. , 5. , 6.5]]))

In [89]:
a1 * a2

array([[ 1. ,  4. ,  9.9],
       [ 4. , 10. , 19.5]])

In [90]:
a1 / a2

array([[1.        , 1.        , 0.90909091],
       [0.25      , 0.4       , 0.46153846]])

In [91]:
a2 , a3

(array([[1. , 2. , 3.3],
        [4. , 5. , 6.5]]),
 array([[[ 1,  2,  3],
         [ 4,  5,  6],
         [ 7,  8,  9]],

        [[10, 11, 12],
         [13, 14, 15],
         [16, 17, 18]]]))

In [101]:
a2 * a3

ValueError: operands could not be broadcast together with shapes (2,3) (2,3,3)

In [102]:
from numpy import array, newaxis

In [103]:
a = array([0.0, 10.0, 20.0, 30.0])

In [104]:
b = array([1.0, 2.0, 3.0])

In [105]:
# array transform
a[:,newaxis]

array([[ 0.],
       [10.],
       [20.],
       [30.]])

In [107]:
a[:,newaxis] + b

array([[ 1.,  2.,  3.],
       [11., 12., 13.],
       [21., 22., 23.],
       [31., 32., 33.]])

### Aggregation

Aggregation =  performming the same thing on a number of things

In [109]:
list  = [1,2,3]
type(list)

list